Repository Nikodermus/gatsby-styled-components-sanity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(eslint): fix formatting
  .eslintignore
  .eslintrc.js
  README.md
  package.json
Due: eslint --fix, prettier --write

refactor(components): use library name and replacable data
  .eslintrc.js
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package.json
  src/components/Library/atoms/BaseStyle.jsx
  src/components/Library/atoms/Footer.jsx
  src/components/Library/atoms/Nav.jsx
  src/components/Library/atoms/SEO.jsx
  src/components/Library/molecules/.gitkeep
  src/components/Library/molecules/Layout.jsx
  src/components/Library/organisms/.gitkeep
  src/components/Library/templates/.gitkeep
  src/constants/site.js
  src/pages/404.jsx
  src/pages/index.jsx
  src/utils/math.js
  static/images/favicon.png
Due: eslint --fix, prettier --write

feat(scripts): include option to create/delete pages
  .gitignore
  package.json
  scripts/page-create.js
  scripts/page-delete.js
  scripts/utils.js
  src/components/.gitkeep
  yarn.lock
Due: eslint --fix, prettier --write

docs(readme.md): developer guide for this boilerplate
  README.md
  netlify.toml
  package.json
  yarn.lock
Due: prettier --write

fix(template): use context in SSR and style adjustments
  gatsby-config.js
  gatsby-ssr.js
  src/components/Library/atoms/BaseStyle.jsx
  src/constants/site.js
  src/constants/styled.js
  src/utils/styled.js
  static/fonts/.gitkeep
Due: eslint --fix

docs(readme.md): extend use of hooks and before we start steps
  README.md
  gatsby-config.js
Due: eslint --fix, prettier --write

test(testing): include component and unit testing
  README.md
  src/utils/math.js
  tests/components/.gitkeep
  tests/components/Layout.test.jsx
  tests/unit/math.test.js
Due: eslint --fix, prettier --write

fix(scripts/utils.js): file name should be kebab case
  README.md
  scripts/utils.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,vue,gql}
  prettier --write: any of: *.{yaml,yml,json,md,html,css}
